:root {
    --color-white: #f8f8fc;
    --box-shadow: 0px 1px 3px 0px #ccc;
    --box-shadow-pergunta: 0px 1px 20px -2px #ccc;
    --box-shadow-pergunta-alta: 0px 1px 100px -40px #262626;
    --tamanho-indicador: 30px;
    --altura-li-tentativas: 40px;
    --btn-rm-cor-tentativas: rgba(0, 0, 0, .08);
}
