/*
   Inspiração do carrosel de perguntas:
   https://codepen.io/dobladov/pen/kXAXJx
*/

.visao-quadro:not(:checked)~.perguntas {

   margin: 40px 0px;

   .pergunta {
      position: absolute;
      height: 100%;
      box-shadow: var(--box-shadow-pergunta);
      border-radius: 5px;
      width: 40vw;
      opacity: 0;
      transition: transform .2s, left .2s, opacity .2s, z-index 0s;

      &--ativa,
      &-esq,
      &-dir {
         display: block;
         opacity: 1;
         cursor: pointer;
      }

      &--ativa {
         min-width: 400px;
         box-shadow: var(--box-shadow-pergunta-alta);
         z-index: 10;
         cursor: default;
         left: 50%;
         transform: translateX(-50%) scale(1);
      }

      &-esq,
      &-dir {
         opacity: .8;
         top: 0;
         bottom: 0;
         cursor: pointer;
         min-width: 360px;
         z-index: 5;
      }

      &-esq {
         left: 30%;
         transform: translateX(-50%) scale(.5);

         &--esconde {
            left: 0%;
            opacity: 0;
            transform: translateY(50%) translateX(-50%);
         }
      }

      &-dir {
         left: 70%;
         transform: translateX(-50%) scale(.7);

         &--esconde {
            left: 100%;
            opacity: 0;
            transform: translateY(50%) translateX(-50%);
         }
      }

   }
}
