.button {
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: var(--box-shadow);
    margin: 5px;
}

.btn-white {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #dae0e5;

    &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
}

.btn-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #0062cc;

    &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
}

.btn-gray {
    color: #fff;
    background-color: #6c757d;
    border-color: #545b62;

    &:hover {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
    }
}

.btn-outline-black {
    color: #343a40;
    border-color: #343a40;

    &:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #bd2130;

    &:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }
}

.btn-green {
    color: #fff;
    background-color: #28a745;
    border-color: #1e7e34;

    &:hover {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;
    }
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

button:not(:disabled) {
    cursor: pointer;
}


.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: space-between;
    width: 100%;
}
