.indicador-perguntas {
   position: relative;
   display: flex;
   margin: 20px 0 0 0;
   justify-content: center;
   flex-wrap: wrap;

   &:hover>.indicador:not(:hover) {
      opacity: .7;
      transform: scale(.9);
      font-weight: bold;
   }

   .indicador {
      position: relative;
      float: left;
      min-width: var(--tamanho-indicador);
      min-height: var(--tamanho-indicador);
      max-height: var(--tamanho-indicador);
      line-height: var(--tamanho-indicador);
      text-align: center;
      list-style: none;
      border-radius: 100%;
      border: 1px solid #dae0e5;
      font-size: 10pt;
      cursor: pointer;
      margin: 10px;
      transition: transform .3s;
      transition-timing-function: ease-in-out;

      &:hover {
         transform: scale(1.1);
      }

      &::before {
         z-index: -1;
         position: absolute;
         height: var(--tamanho-indicador);
         width: var(--tamanho-indicador);
         content: "";
         top: 0;
         left: 0;
         border-radius: 100%;
         transform: scale(0);
         transition: .2s;
      }

      &--marcado,
      &--atual {
         border: none;
         color: white;
      }

      &--marcado::before {
         transform: scale(1);
         background-color: #007bff;
      }

      &--atual::before {
         transform: scale(1);
         background-color: #2f9e41;
      }
   }
}
