.tentativas {
   display: none;

   .lista-tentativas {
      position: relative;
      display: block;

      li {
         position: relative;
         display: block;
         list-style: none;
         height: var(--altura-li-tentativas);
         border-radius: 6px;
         box-shadow: var(--box-shadow);
         margin: 5px;

         .lista-btn-rm {
            position: absolute;
            width: var(--altura-li-tentativas);
            height: var(--altura-li-tentativas);
            top: 0;
            left: 0;
            background-color: var(--btn-rm-cor-tentativas);
            border: none;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            outline: none;

            .icon {
               display: block;
               width: var(--altura-li-tentativas);
               height: var(--altura-li-tentativas);
               opacity: 1;
               line-height: var(--altura-li-tentativas);
               font-size: 12pt;
               transition: .2s;
            }

            &:hover .icon {
               animation-name: pickup;
               animation-delay: .04s;
               animation-fill-mode: forwards;
               animation-duration: .5s;
            }
         }

         div {
            margin-left: var(--altura-li-tentativas);
            padding: 3px 10px;
            height: 100%;

            p {
               width: 100%;
               display: block;
            }

            p, .nota, .data {
               margin: 0px;
               font-size: 10pt;
            }

            .nota, .data {
               font-size: 8pt;
               color: #999;
               float: left;
            }

            .nota {
               width: 50%;
            }

            .data {
               width: 50%;
               text-align: end;
            }
         }

         ion-icon.open {
            line-height: var(--altura-li-tentativas);
         }
      }
   }
}

@keyframes pickup {
   0% {
      font-size: 12pt;
   }

   40% {
      font-size: 14pt;
      transform: rotateX(40deg);
   }

   100% {
      font-size: 19pt;
   }
}
