.resultado {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
       float: left;
       min-width: var(--tamanho-indicador);
       min-height: var(--tamanho-indicador);
       max-height: var(--tamanho-indicador);
       line-height: var(--tamanho-indicador);
       text-align: center;
       list-style: none;
       border-radius: 100%;
       font-size: 10pt;
       margin: 10px;
       background-color: #cd191e;
       color: white;
       font-weight: bold;
    }

    &--certa {
       background-color: #2f9e41 !important;
    }
}
