@import 'general';
@import 'lista-tentativas';

.content {
   width: 30vw;
   min-width: 300px;
   margin: auto;
}

.btn {
   display: block;
   position: relative;
   margin: 15px auto;
   padding: 6px 30px;
   width: 300px;

   .icon {
      position: absolute;
      top: 3px;
      left: 28px;
      color: white;
      opacity: 0;
      transition: .4s;
      font-size: 18pt;
   }

   &:hover .icon {
      opacity: 1;
      left: 250px;
   }
}
