:root {
  --color-white: #f8f8fc;
  --box-shadow: 0px 1px 3px 0px #ccc;
  --box-shadow-pergunta: 0px 1px 20px -2px #ccc;
  --box-shadow-pergunta-alta: 0px 1px 100px -40px #262626;
  --box-shadow-pergunta-ativa: 0px 1px 20px -2px #2f9e41;
}

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #262626;
}

html,
body {
  background-color: var(--color-white);
}

.app-title {
  text-align: center;
  padding: 20px 0px 30px 0px;
}

.app-title span {
  display: block;
  font-family: 'Baloo Chettan', cursive;
}

.app-title .ifsp {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #2f9e41;
  font-weight: bold;
  font-size: 40pt;
}

.app-title .ifsp span {
  position: absolute;
  background-color: white;
  width: 13px;
  height: 14px;
  top: 13px;
  left: 2px;
}

.app-title .ifsp span::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  background: #cd191e;
  top: 1px;
  left: 1px;
  border-radius: 100%;
}

.app-content {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  left: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tentativas {
  display: none;
}

.tentativas .lista-tentativas {
  position: relative;
  display: block;
}

.tentativas .lista-tentativas li {
  position: relative;
  display: block;
  list-style: none;
  height: 40px;
  border-radius: 6px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  margin: 5px;
}

.tentativas .lista-tentativas li .lista-btn-rm {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  outline: none;
}

.tentativas .lista-tentativas li .lista-btn-rm .icon {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 1;
  line-height: 40px;
  font-size: 12pt;
  -webkit-transition: .2s;
  transition: .2s;
}

.tentativas .lista-tentativas li .lista-btn-rm:hover .icon {
  -webkit-animation-name: pickup;
          animation-name: pickup;
  -webkit-animation-delay: .04s;
          animation-delay: .04s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.tentativas .lista-tentativas li div {
  margin-left: 40px;
  padding: 3px 10px;
  height: 100%;
}

.tentativas .lista-tentativas li div p {
  width: 100%;
  display: block;
}

.tentativas .lista-tentativas li div p, .tentativas .lista-tentativas li div .nota, .tentativas .lista-tentativas li div .data {
  margin: 0px;
  font-size: 10pt;
}

.tentativas .lista-tentativas li div .nota, .tentativas .lista-tentativas li div .data {
  font-size: 8pt;
  color: #999;
  float: left;
}

.tentativas .lista-tentativas li div .nota {
  width: 50%;
}

.tentativas .lista-tentativas li div .data {
  width: 50%;
  text-align: end;
}

.tentativas .lista-tentativas li ion-icon.open {
  line-height: 40px;
}

@-webkit-keyframes pickup {
  0% {
    font-size: 12pt;
  }
  40% {
    font-size: 14pt;
    -webkit-transform: rotateX(40deg);
            transform: rotateX(40deg);
  }
  100% {
    font-size: 19pt;
  }
}

@keyframes pickup {
  0% {
    font-size: 12pt;
  }
  40% {
    font-size: 14pt;
    -webkit-transform: rotateX(40deg);
            transform: rotateX(40deg);
  }
  100% {
    font-size: 19pt;
  }
}

.content {
  width: 30vw;
  min-width: 300px;
  margin: auto;
}

h2 {
  font-size: 15pt;
}

#js-btn-inicia {
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 6px 35px;
  width: 300px;
}

#js-btn-inicia .icon {
  position: absolute;
  top: 3px;
  left: 28px;
  color: white;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font-size: 18pt;
}

#js-btn-inicia:hover .icon {
  opacity: 1;
  left: 270px;
}

.avaliacao {
  display: none;
}

.nota {
  font-size: 50pt;
  font-weight: bold;
}
