@import 'general';
@import 'lista-tentativas';

.content {
   width: 30vw;
   min-width: 300px;
   margin: auto;
}

h2 {
   font-size: 15pt;
}

#js-btn-inicia {
   display: block;
   position: relative;
   margin: 15px auto;
   padding: 6px 35px;
   width: 320px;

   .icon {
      position: absolute;
      top: 3px;
      left: 28px;
      color: white;
      opacity: 0;
      transition: .4s;
      transition-timing-function: ease-in-out;
      font-size: 18pt;
   }

   &:hover .icon {
      opacity: 1;
      left: 280px;
   }
}

.avaliacao {
   display: none;
}

.nota {
   font-size: 50pt;
   font-weight: bold;
}
