.tentativas {
  display: none;
}

.tentativas .lista-tentativas {
  position: relative;
  display: block;
}

.tentativas .lista-tentativas li {
  position: relative;
  display: block;
  list-style: none;
  height: 40px;
  border-radius: 6px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  margin: 5px;
}

.tentativas .lista-tentativas li .lista-btn-rm {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  outline: none;
}

.tentativas .lista-tentativas li .lista-btn-rm .icon {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 1;
  line-height: 40px;
  font-size: 12pt;
  -webkit-transition: .2s;
  transition: .2s;
}

.tentativas .lista-tentativas li .lista-btn-rm:hover .icon {
  -webkit-animation-name: pickup;
          animation-name: pickup;
  -webkit-animation-delay: .04s;
          animation-delay: .04s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.tentativas .lista-tentativas li div {
  margin-left: 40px;
  padding: 3px 10px;
  height: 100%;
}

.tentativas .lista-tentativas li div a {
  width: 100%;
  display: block;
}

.tentativas .lista-tentativas li div a, .tentativas .lista-tentativas li div .nota, .tentativas .lista-tentativas li div .data {
  margin: 0px;
  font-size: 10pt;
}

.tentativas .lista-tentativas li div .nota, .tentativas .lista-tentativas li div .data {
  font-size: 8pt;
  color: #999;
  float: left;
}

.tentativas .lista-tentativas li div .nota {
  width: 50%;
}

.tentativas .lista-tentativas li div .data {
  width: 50%;
  text-align: end;
}

.tentativas .lista-tentativas li ion-icon.open {
  line-height: 40px;
}

@-webkit-keyframes pickup {
  0% {
    font-size: 12pt;
  }
  40% {
    font-size: 14pt;
    -webkit-transform: rotateX(40deg);
            transform: rotateX(40deg);
  }
  100% {
    font-size: 19pt;
  }
}

@keyframes pickup {
  0% {
    font-size: 12pt;
  }
  40% {
    font-size: 14pt;
    -webkit-transform: rotateX(40deg);
            transform: rotateX(40deg);
  }
  100% {
    font-size: 19pt;
  }
}
