.visao-quadro:not(:checked)~.perguntas {

   margin: 40px 0px;

   .pergunta {
      position: absolute;
      height: 100%;
      box-shadow: var(--box-shadow-pergunta);
      border-radius: 5px;
      width: 40vw;
      opacity: 0;
      z-index: 0;

      &--ativa,
      &--esq,
      &--dir {
         display: block;
         opacity: 1;
         cursor: pointer;
      }

      &--ativa {
         min-width: 400px;
         box-shadow: var(--box-shadow-pergunta-alta);
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         margin: auto;
         transform: scale(1);
         z-index: 10;
         cursor: default;
      }

      &--esq,
      &--dir {
         opacity: .8;
         top: 0;
         bottom: 0;
         cursor: pointer;
         min-width: 360px;
         z-index: 5;
      }

      &--esq {
         transform: scale(.5);
         left: 5vw;
      }

      &--dir {
         transform: scale(.7);
         right: 5vw;
      }

   }
}
